SECRET_KEY='django-insecure-its-=s&um%)ah#33%+5-$xd&c+)4*ltuecg#!55*+j%^blq32q'
DEBUG=1
ALLOWED_HOSTS=localhost 127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost http://127.0.0.1

DB_NAME=beleva
DB_USER=horizon_user
DB_PASSWORD=BelevaDB@12345